/*csslint ids: false, box-model: false, fallback-colors: false*/

body {
    background-image: linear-gradient(rgba(190, 190, 190, 0.99), rgba(3, 8, 10, 0.6));
    color: black;
    font-family: 'Exo', sans-serif;
    font-size: 25px;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

p {
    padding: 5px 0 5px;
}

.row {
    margin: 10px 10px;
    padding: 10px 10px;
}

.section1 {
    padding-bottom: 700px;
}

.page {
    position: relative;
}


/*headers***************************************************************************/

h1 {
    border-color: red;
    color: white;
    margin: 15px 0;
}

h2 {
    border-color: red;
    color: white;
    margin: -5px 0 0;
}

header {
    background-color: rgba(224, 18, 18, 0.7);
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 5px 0;
    text-shadow: 0 2px 1px black;
    width: 100%;
}

.header2 {
    margin-top: 100px;
}


/*footer****************************************************************************/

footer {
    clear: both;
    padding-top: 100px;
    text-align: center;
}

.social-media-icon {
    margin: 0 5px;
}


/*links******************************************************************************/

a {
    color: darkslategray;
    text-decoration: none;
}


/*navigation***************************************************************************/

nav {
    background-color: rgba(224, 18, 18, 0.8);
    border-top: 5px solid darkslategrey;
    margin: 20px 0 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
    font-weight: 300;
    padding: 5px 20px 5px;
}

nav a,
nav a: visited {
    color: darkslategray;
}

nav .selected,
nav a:hover {
    color: black;
}

nav a:hover {
    text-shadow: 0 3px 1px white;
}


/*ids***********************************************************************************/

#gallery {
    list-style: none;
    margin: 0;
    padding-bottom: 300px;
}

#gallery li {
    background-color: red;
    color: darkslategray;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#gallery li a p {
    color: black;
    font-size: 0.8em;
    margin: 0;
    padding: 5%;
}

#wrapper {
    /*sets maximmum width*/
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5%;
}

.logo {
    margin: 0;
    text-align: center;
}


/*about me page********************************************************/


/*should be 200 px photo*/

.profile-photo {
    border-radius: 15%;
    display: block;
    max-width: 70px;
}


/*contact page********************************************************/

.contact-info a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
}

.contact-info .mail a {
    background-image: url('../img/mail.jpg')
}

.contact-info .twitter a {
    background-image: url('../img/instagram.jpg')
}

.text-center {
    text-shadow: 0 2px 1px black;
}


/*media queries********************************************************/


/*two column layout*/

@media screen and (min-width: 480px) {
    header {
        border-bottom: 5px solid darkslategrey;
        border-top: 5px solid darkslategrey;
        margin-bottom: 60px;
        padding-right: 300px;
    }
    #primary {
        float: left;
        width: 50%;
    }
    #secondary {
        float: right;
        width: 40%;
    }
    /*three column portfolio layout*/
    #gallery li {
        float: left;
        width: 28.3333%;
    }
    #gallery li:nth-child(7n) {
        clear: left;
    }
    /*about page*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*nav*/
    header {
        border-bottom: 5px solid darkslategrey;
        border-top: 5px solid darkslategrey;
        margin-bottom: 60px;
    }
}